<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"><span class="page-title-cs">Subscriptions</span></h4>

        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Subscriptions</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>User Name</th>
                    <th>Plan</th>
                    <th>Amount Paid</th>
                    <th>Subscription Date</th>
                    <th>Expiry Date</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let subscription of subscriptionData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                      <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                    <td class="page-title-break">{{subscription.user.firstName}} {{subscription.user.lastName}}</td>
                    <td class="page-title-break">{{subscription.planName}}</td>
                    <td class="page-title-break">&pound;{{subscription.amountPaid}}</td>
                    <td class="page-title-break">{{subscription.subscriptionDate}}</td>
                    <td class="page-title-break">{{subscription.expiryDate}}</td>
                  </tr>
                  <tr *ngIf="!subscriptionData">
                    <td colspan="4">No records found</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right" *ngIf="subscriptionData">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>