<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
 <app-header></app-header>
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav slimscrollsidebar">
    <app-left-sidebar></app-left-sidebar>
  </div>
</div>
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
          </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a routerLink="/dashboard">Dashboard</a></li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="white-box analytics-info">
            <h3 class="box-title">Registered users</h3>
            <ul class="list-inline two-part">
              <li>
                <div id="sparklinedash">
                  <img src="assets/images/graph-1.jpg" alt="graph" >
                </div>
              </li>
              <li class="text-right">
                <i class="ti-arrow-up text-success"></i>
                 <span class="counter text-success" *ngIf="dashboardData">{{dashboardData.noOfusers}}</span>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="white-box analytics-info">
            <h3 class="box-title">Individual pinboards</h3>
            <ul class="list-inline two-part">
              <li>
                <div id="sparklinedash2">
                  <img src="assets/images/graph-2.jpg" alt="graph" >
                </div>
              </li>
              <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple" *ngIf="dashboardData">{{dashboardData.noOfPinboard}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="white-box analytics-info">
            <h3 class="box-title">town pinboards</h3>
            <ul class="list-inline two-part">
              <li>
                <div id="sparklinedash3">
                  <img src="assets/images/graph-3.jpg" alt="graph" >
                </div>
              </li>
              <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info" *ngIf="dashboardData">{{dashboardData.noOfTownPinboard}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="white-box analytics-info">
            <h3 class="box-title">Total number of offers</h3>
            <ul class="list-inline two-part">
              <li>
                <div id="sparklinedash3">
                  <img src="assets/images/graph-3.jpg" alt="graph">
                </div>
              </li>
              <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info" *ngIf="dashboardData">{{dashboardData.noOfOffers}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="white-box analytics-info">
            <h3 class="box-title">Total revenue</h3>
            <ul class="list-inline two-part">
              <li>
                <div id="sparklinedash3">
                  <img src="assets/images/graph-1.jpg" alt="graph">
                </div>
              </li>
              <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info" *ngIf="dashboardData">&pound;{{dashboardData.totalRevenue}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>