<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<section id="wrapper" class="new-login-register">
    <div class="lg-info-panel">
        <div class="inner-panel">
            <div class="login-pin">
                <a href="javascript:void(0)" class="p-20 di"><img class="logo-pin" src="assets/plugins/images/logo-pin.png"></a>
            </div>
            <div class="logo-pin-headings">StreetPin</div>
            <div class="lg-content">
                <h2>WELCOME TO ADMIN PANEL</h2>
            </div>
        </div>
    </div>
    <div class="sx-logo-mobile-show">
        <a href="javascript:void(0)"><img class="logo-pin" src="assets/plugins/images/logo-pin.png" class="st-logo-xs"></a>
        <span class="logo-titles">StreetPin</span></div>
    <div class="new-login-box">
        <div class="white-box">
            <h3 class="box-title m-b-0">Sign In to Admin</h3>
            <!-- <small>Enter your details below</small> -->
            <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 401 }">{{message.message}}</div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal new-lg-form">
                <div class="form-group  m-t-20">
                    <div class="col-xs-12">
                        <label>Email Address</label>
                        <input class="form-control" formControlName="email" maxlength="50" name="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Password</label>
                        <input type="password" formControlName="password" maxlength="20" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-info pull-left p-t-0">
                            <input id="checkbox-signup" type="checkbox" formControlName="rememberme" checked>
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <a routerLink="/forgotpassword" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot
              Password?</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">LogIn</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>