<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Page</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Page</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <!-- .row -->
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="white-box">
            <form [formGroup]="pageDataForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material">
              <input type="hidden" formControlName="staticPageId" class="form-control" />
              <div class="form-group">
                <label class="col-md-12">Title</label>
                <div class="col-md-12">
                  <input readonly type="text" formControlName="title" class="form-control form-control-line">
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">Title is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-12">Content</label>
                <div class="col-md-12">
                  <!-- <input type="text" class="form-control form-control-line" formControlName="couponCode" id="example-email"> -->
                  <app-ngx-editor [config]="editorConfig" formControlName="content" [placeholder]="'Enter text here...'" [spellcheck]="true" ></app-ngx-editor>
                  <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                    <div *ngIf="f.content.errors.required">Content field is required</div>
                  </div>
                </div>
              </div>
              <div class="form-group m-t-20">
                <div class="col-xs-6">
                  <div class="save-btn-changes">
                    <button class="btn btn-info btn-md save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light ">Save</button>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="save-btn-changes-right">
                    <a routerLink="/pages" class="btn btn-info btn-md btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>