<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
	<app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
	<app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
  </div>
  <div id="page-wrapper">
	<div class="container-fluid">
	  <div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		  <h4 class="page-title">Discount Vouchers<span class="admin-add-btns"><a href="javascript:void(0)" (click) = "addDiscount()">Add</a></span></h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
		  <ol class="breadcrumb">
			<li><a routerLink="/dashboard">Dashboard</a></li>
			<li class="active">Discount</li>
		  </ol>
		</div>
	  </div>
	  <div class="row" *ngIf="htmlOptions.editMode">
		<div class="col-md-12 col-xs-12">
		  <div class="white-box">
			<form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

			  <div class="form-group">
				<label class="col-md-12">Title<span class="req">*</span></label>
				<div class="col-md-12">
				  <input type="text" trim="blur" maxlength="80"  class="form-control form-control-line" placeholder="Enter Title" name="title"
					[(ngModel)]="Discount.title" #title="ngModel" required>
				  <div *ngIf="f.submitted && !title.valid" class="invalid-feedback">Title field is required</div>
				</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Coupon Code<span class="req">*</span></label>
					<div class="col-md-12">
						<input type="text" trim="blur" maxlength="15" class="form-control form-control-line" placeholder="Enter Coupon Code" name="couponCode" [(ngModel)]="Discount.couponCode" #couponCode="ngModel" pattern="^\w*$" required>
						<div *ngIf="f.submitted && !couponCode.valid && !couponCode.errors.pattern" class="invalid-feedback">Coupon Code field is required</div>
						<div *ngIf="couponCode.errors && couponCode.errors.pattern" class="invalid-feedback">Space and Special characters not allowed in Coupon Code</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-12">Applies To<span class="req">*</span></label>
					<div class="col-md-3">
						<select class="form-control slect-border" name="offerFor" [(ngModel)]="Discount.offerFor"
						 #offerFor="ngModel" required>
						<option [ngValue]="null">Please Select</option>
							<option [ngValue]="1">Pinboard</option>>
							<option [ngValue]="2">Offer</option>
						</select>
					<div *ngIf="f.submitted && !offerFor.valid" class="invalid-feedback">Applies To field is required</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-12">Coupon Code Type<span class="req">*</span></label>
					<div class="col-md-3">
						<select  class="form-control slect-border" name="voucherType" [(ngModel)]="Discount.couponType" (ngModelChange)="getType($event)" #voucherType="ngModel" required>
							<!-- <option [ngValue]="0">Please select</option> -->
							<option [ngValue]="null">Please Select</option>
							<option [ngValue]="1">Flat Off</option>
							<option [ngValue]="2">Percent Off</option>
							<!-- <option [ngValue]="3">Credit</option> -->
						</select>
						<!-- {{Discount | json}} -->
						<div *ngIf="f.submitted && !voucherType.valid" class="invalid-feedback">Coupon Code Type field is required</div>
					</div>
				</div>

				<div class="form-group" *ngIf="flat">
					<label class="col-md-12">Coupon Off Value <span class="req">*</span><span class="small-messge">(Please do not use £ symbol)</span></label>
					<div class="col-md-12">
						<input type="text" trim="blur" maxlength="8"  class="form-control form-control-line" placeholder="Enter Coupon Off Value like £20.40" name="couponValue"
						 [(ngModel)]="Discount.couponValue" #couponValue="ngModel" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" required>
						<div *ngIf="f.submitted && !couponValue.valid && !couponValue.errors.pattern" class="invalid-feedback">Coupon Off Value field is required</div>
							<div *ngIf="couponValue.errors && couponValue.errors.pattern" class="invalid-feedback">Please enter a valid amount</div>

					</div>
				</div>
			<div class="form-group" *ngIf="percent">
					<label class="col-md-12">Coupon Off Value <span class="req">*</span><span class="small-messge">(Please do not use % symbol)</span></label>
					<div class="col-md-12">
						<input type="text" trim="blur" maxlength="100"  class="form-control form-control-line" (keypress)="keyPress($event)" placeholder="Enter Coupon Off Value in Percent like 50%" name="couponValue"
						 [(ngModel)]="Discount.couponValue" #couponValue="ngModel" pattern="^[1-9][0-9]?$|^100$" required>
						<div *ngIf="f.submitted && !couponValue.valid && !couponValue.errors.pattern" class="invalid-feedback">Coupon Off Value field is required</div>
						<div *ngIf="couponValue.errors && couponValue.errors.pattern" class="invalid-feedback">Please enter a valid number between 1 to 100 </div>
					</div>
				</div>

			  <div class="form-group">
				<label class="col-md-12">Uses Limit<span class="req">*</span></label>
				<div class="col-md-12">
				  <input type="text" trim="blur" maxlength="8"  onPaste="return false" class="form-control form-control-line" placeholder="Enter Uses Limit (Numbers only)" name="numberOfUsers"
					[(ngModel)]="Discount.numberOfUsers" #numberOfUsers="ngModel" pattern="^[1-9][0-9]*$" required>
					<div *ngIf="f.submitted && !numberOfUsers.valid && !numberOfUsers.errors.pattern" class="invalid-feedback">Uses Limit field is required</div>
					<div *ngIf="numberOfUsers.errors && numberOfUsers.errors.pattern" class="invalid-feedback">Please enter a valid number</div>

				</div>
				</div>
				<div class="form-group">
					<label class="col-md-12">Description<span class="req">*</span></label>
					<div class="col-md-12">
						<input type="text" trim="blur" maxlength="100"  class="form-control form-control-line" placeholder="Enter Description" name="description" [(ngModel)]="Discount.description"
						 #description="ngModel" required>
						<div *ngIf="f.submitted && !description.valid" class="invalid-feedback">Description field is required</div>
					</div>
				</div>
<!-- {{Discount | json}} -->
			  <div class="row">
					<div class="col-md-3">
							<label> Validity start date<span class="req">*</span></label><br />
				<p-calendar name="startDate" [minDate]="minDate" (onSelect)="setMinTodate()" [readonlyInput]="true" [(ngModel)]="Discount.startDate" #startDate="ngModel" required [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
				  <div *ngIf="f.submitted && !startDate.valid" class="invalid-feedback">Validity start date field is required</div>
				</div>
				<div class="col-md-6">
					<label class="marTopDescount">Validity end date<span class="req">*</span></label><br />
					<p-calendar name="expiryDate" [minDate]="maxDate" [readonlyInput]="true" [(ngModel)]="Discount.expiryDate" #expiryDate="ngModel"
					 required [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
					<div *ngIf="f.submitted && !expiryDate.valid" class="invalid-feedback">Validity end date field is required</div>
				</div>
			  </div>
			  <div class="form-group m-t-20">
				<div class="col-xs-12">
					<div class="btin-right-dvs">
				  <div class="save-btn-changes">
					<button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light "
						type="submit"><span *ngIf="!this.htmlOptions.button">Save</span><span *ngIf="this.htmlOptions.button">Update</span></button>
					</div>
					<div class="save-btn-changes">
						<a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
					</div>
					</div>
				</div>
			  </div>
			</form>
		  </div>
		</div>
	  </div>

	  <div class="row" *ngIf="!htmlOptions.editMode">
		<div class="col-sm-12">
		  <div class="white-box">
			<div class="table-responsive">
			  <table class="table">
				<thead>
				  <tr>
					<th>#</th>
					<th>Title</th>
					<th>Coupon Code</th>
					<th>Uses Limit</th>
					<th>Expiry Date</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody>


					<tr *ngFor="let voucher of voucherData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
						<td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
					<td class="page-title-break">{{voucher.title}}</td>
					<td>{{voucher.couponCode}}</td>
					<td>{{voucher.numberOfUsers}}</td>
					<td>{{voucher.expiryDate}}</td>
					<td><span class="actons-box-ad">
						<a title="Click here to activate" *ngIf="!voucher.active" href="javascript:void(0)" (click)="voucherAction(voucher.couponId, 'active')">
						  <i class="fa fa-ban" aria-hidden="true"></i></a>
						<a title="Click here to deactivate" *ngIf="voucher.active" href="javascript:void(0)" (click)="voucherAction(voucher.couponId, 'inactive')">
						  <i class="fa fa-check-square" aria-hidden="true"></i></a>
						<a title="Click here to edit" (click)="editDiscount(voucher.couponId)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						<a title="Click here to delete" href="javascript:void(0)" (click)="voucherAction(voucher.couponId, 'delete')"><i class="fa fa-trash-o"
							aria-hidden="true"></i></a>
					  </span>
					</td>
					</tr>
					<tr *ngIf="!voucherData">
						<td colspan="4">No records found</td>
					</tr>
				</tbody>
				</table>
				<div class="text-right" *ngIf="voucherData">
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- /.row -->
	</div>
	<!-- /.container-fluid -->
	<app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>