<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" routerLink="/dashboard">
                <span>
          <img src="assets/plugins/images/admin-text.png" alt="home" class="dark-logo" />
          <img src="assets/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
        </span>
            </a>
        </div>
        <!-- /Logo -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="dropdown">
                <a class="profile-pic dropdown-toggle" href="javascript:void(0);" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <img src="assets/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs"> Tim </b> <span class="caret"></span></a>
                <ul class="dropdown-menu log-out-msases" aria-labelledby="dropdownMenu1">
                    <li>
                        <a routerLink="/changepassword">
                            <i class="fa fa-lock green-icons" aria-hidden="true"></i> Change Password</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" (click)="logout()">
                            <i class="fa fa-sign-out green-icons" aria-hidden="true"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown messages-menu only-xs-menu">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <ul class="menu">
                            <li>
                                <a routerLink="/dashboard" class="waves-effect">
                                    <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                            </li>
                            <li>
                                <a routerLink="/users" class="waves-effect">
                                    <i class="fa fa-users fa-fw" aria-hidden="true"></i>Users</a>
                            </li>
                            <!--  <li>
                <a routerLink="/discountvouchers" class="waves-effect">
                  <i class="fa fa-gift fa-fw" aria-hidden="true"></i>Discount Vouchers</a>
              </li>
              <li>
                <a routerLink="/cms" class="waves-effect">
                  <i class="fa fa-file fa-fw" aria-hidden="true"></i>CMS</a>
              </li>
              <li>
                <a routerLink="/offers" routerLinkActive="active" class="waves-effect">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Offers</a>
              </li>
              <li>
              <li>
                <a routerLink="/pinboard" routerLinkActive="active" class="waves-effect">
                  <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Pinboard</a>
              </li>
              <li>
                <a routerLink="/town-pinboard" routerLinkActive="active" class="waves-effect">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Town Pinboards</a>
              </li>
              <li>
                <a routerLink="/credit-plan" routerLinkActive="active" class="waves-effect">
                  <i class="fa fa-money fa-fw" aria-hidden="true"></i>Credit Plans</a>
              </li>
              <li>
                <a routerLink="/subscriptions" routerLinkActive="active" class="waves-effect">
                  <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Subscriptions</a>
              </li> -->
                            <li>
                                <a routerLink="/discountvouchers" routerLinkActive="active" class="waves-effect">
                                    <i class="fa fa-gift fa-fw" aria-hidden="true"></i>Discount Vouchers</a>
                            </li>
                            <!-- <li>
                  <a routerLink="/pages" class="waves-effect">
                    <i class="fa fa-users fa-fw" aria-hidden="true"></i>Static Pages</a>
                </li>  -->
                            <li>
                                <a routerLink="/cms" routerLinkActive="active" class="waves-effect">
                                    <i class="fa fa-file fa-fw" aria-hidden="true"></i>CMS</a>
                            </li>
                            <li>
                                <a routerLink="/offers" routerLinkActive="active" class="waves-effect">
                                    <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Offers</a>
                            </li>
                            <li>
                                <li>
                                    <a routerLink="/pinboard" routerLinkActive="active" class="waves-effect">
                                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Pinboard</a>
                                </li>
                                <li>
                                    <a routerLink="/town-pinboard" routerLinkActive="active" class="waves-effect">
                                        <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Town Pinboards</a>
                                </li>
                                <li>
                                    <a routerLink="/my-offer-credits" routerLinkActive="active" class="waves-effect">
                                        <i class="fa fa-money fa-fw" aria-hidden="true"></i>Credit Plans</a>
                                </li>
                                <li>
                                    <a routerLink="/subscriptions-plan" routerLinkActive="active" class="waves-effect">
                                        <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Subscriptions Plan</a>
                                </li>
                                <li>
                                    <a routerLink="/subscriptions" routerLinkActive="active" class="waves-effect">
                                        <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>User Subscriptions</a>
                                </li>
                        </ul>
                        </li>
                </ul>
                </li>
        </ul>
    </div>
</nav>