<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
<app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Users</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Users</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- <tr *ngFor="let user of userData; let i = index">
                    <td>{{i+1}}</td> -->
                    <tr *ngFor="let user of userData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                      <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                    <td class="page-title-break">{{user.firstName}}</td>
                    <td class="page-title-break">{{user.lastName}}</td>
                    <td class="page-title-break">{{user.email}}</td>
                    <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="!user.active" href="javascript:void(0)" (click)="userAction(user.userId, 'active')"> <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="user.active" href="javascript:void(0)" (click)="userAction(user.userId, 'inactive')"> <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <!-- <a href="javascript:void(0)"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> -->
                        <a title="Click here to delete" href="javascript:void(0)" (click)="userAction(user.userId, 'delete')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <a title="Click here to view user details" routerLink="/users-details/{{user.userId}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="!userData">
                    <td colspan="4">No records found</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right" *ngIf="userData">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>