<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Page</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Page</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let page of pageData; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{page.title}}</td>
                    <td><span class="actons-box-ad">
                      <a href="javascript:void(0)" routerLink="/page-edit/{{page.staticPageId}}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <!-- <a title="Click here to view user details" routerLink="/users-details/{{page.staticPageId}}"><i class="fa fa-eye"
                            aria-hidden="true"></i></a> -->
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>