<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">User Details</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">User Details</li>
          </ol>
        </div>
      </div>
      <!-- /.row -->
      <!-- .row -->
      <div class="row" *ngIf="!userData">
        <div class="col-md-12 col-xs-12">
          <div class="white-box">
              <div class="form-group">
                <p>No Records Found</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="userData">
        <div class="col-md-4 col-xs-12">
          <div class="white-box">
            <div class="user-bg">
              <img width="100%" alt="user" src="assets/plugins/images/large/img1.jpg">
              <div class="overlay-box">
                <div class="user-content">
                  <a href="javascript:void(0)"><img *ngIf="userData[0].profileImage" src="{{userData[0].profileImage}}" class="thumb-lg img-circle" alt="img"></a>
                  <h4 class="text-white">{{userData[0].firstName}} {{userData[0].lastName}}</h4>
                  <h5 class="text-white">{{userData[0].email}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="white-box">
            <form class="form-horizontal form-material">
              <div class="form-group">
                <label class="col-md-12">Full Name</label>
                <div class="col-md-12">
                  <input type="text" readonly placeholder="{{userData[0].firstName}} {{userData[0].lastName}}" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label for="example-email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input type="email" readonly placeholder="{{userData[0].email}}" class="form-control form-control-line" name="example-email"
                    id="example-email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Phone No</label>
                <div class="col-md-12">
                  <input type="text" readonly placeholder="{{userData[0].firstName}}" class="form-control form-control-line">
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Bio</label>
                <div class="col-md-12">
                  <textarea readonly rows="1" class="form-control form-control-line">{{userData[0].bio}}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Website URL</label>
                <div class="col-md-12">
                  <input type="text" readonly placeholder="{{userData[0].websiteUrl}}" class="form-control form-control-line">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Weekly updates</label>
                <div class="col-md-12" *ngIf="userData[0].websiteUrl">
                  <input type="text" readonly placeholder="Yes" class="form-control form-control-line">
                </div>
                <div class="col-md-12" *ngIf="!userData[0].websiteUrl">
                  <input type="text" readonly placeholder="No" class="form-control form-control-line">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>