<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
    <app-header></app-header>
    <div class="navbar-default sidebar" role="navigation">
        <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"><span class="page-title-cs">Town Pinboard</span> <span class="admin-add-btns">
           <a href="javascript:void(0)"
                (click)="addTown()">Add</a>
              </span></h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="active">Town Pinboard</li>
                    </ol>
                </div>
            </div>
            <div class="row" *ngIf="htmlOptions.editMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                            <div class="form-group">
                                <label class="col-md-12">Title<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Title" name="title" [(ngModel)]="town.title" #title="ngModel" required>
                                    <div *ngIf="f.submitted && !title.valid" class="invalid-feedback">Title field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Logo<span class="small-messge"> ( Ensure you have the rights to use this ) </span></label>
                                <div class="col-md-12">
                                    <!-- <input type="file" > -->
                                    <input type="file" (change)="fileEvent($event, 'logo')" id="logo" name="logo" #logo="ngModel" [(ngModel)]="town.logo" accept="image/*">
                                    <div *ngIf="f.submitted && !logo.valid" class="invalid-feedback">Logo field is required</div>
                                </div>

                                <div class="col-md-12" *ngIf="htmlOptions.logo && htmlOptions.editMode">
                                    <img src="{{htmlOptions.logo}}" class="img-fluid img-border edit-image">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Background Image</label>
                                <div class="col-md-12">
                                    <!-- <input type="file" > -->
                                    <input type="file" (change)="fileEvent($event, 'backgroundImage')" id="backgroundImage" name="backgroundImage" #backgroundImage="ngModel" [(ngModel)]="town.backgroundImage" accept="image/*">
                                    <div *ngIf="f.submitted && !backgroundImage.valid" class="invalid-feedback">Background Image field is required</div>
                                </div>
                                <div class="col-md-12" *ngIf="htmlOptions.backgroundImage && htmlOptions.editMode">
                                    <img src="{{htmlOptions.backgroundImage}}" class="img-fluid img-border edit-image">
                                </div>
                            </div>
                            <label>User</label><br />
                            <ng-multiselect-dropdown [placeholder]="'Select User'" name='user' [data]="users" [(ngModel)]="town.userNew" [settings]="dropdownSettingsFrUser">
                            </ng-multiselect-dropdown>

                            <div class="form-group m-t-20">
                                <label class="col-md-12">Location<span class="req">*</span><span class="small-messge"> ( Enter the address i.e. 123 High Street, MyTown... ) </span></label>
                                <div class="col-md-12">
                                    <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="200" class="form-control form-control-line" placeholder="Enter location"
                                        name="location" [(ngModel)]="town.location" #location="ngModel" required>
                                    <div *ngIf="f.submitted && !location.valid" class="invalid-feedback">Location field is required</div>
                                    <div *ngIf="f.submitted && !latitude.valid && location.valid" class="invalid-feedback">Please select valid location</div>
                                </div>
                            </div>
                            <input type="hidden" trim="blur" maxlength="50" class="form-control form-control-line" name="latitude" [(ngModel)]="town.latitude" #latitude="ngModel" required>

                            <div class="form-group">
                                <label class="col-md-12">Bio<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="500" class="form-control form-control-line" placeholder="Enter Bio" name="about" [(ngModel)]="town.businessInformation.about" #about="ngModel" required>
                                    <div *ngIf="f.submitted && !about.valid" class="invalid-feedback">Bio field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Services<span class="req">*</span><span class="small-messge"> ( Add # to each service i.e.
                    #breakfast to help users find you )</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="50" class="form-control form-control-line" placeholder="Enter Services(Hashtags)" name="servicesHashtags" [(ngModel)]="town.businessInformation.servicesHashtags" #servicesHashtags="ngModel" required>
                                    <div *ngIf="f.submitted && !servicesHashtags.valid" class="invalid-feedback">Services field is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Opening Hours<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <div class="col-md">
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursMon" [(ngModel)]="openingTime.mon.checked" (ngModelChange)="onFilterChange($event, 'mon')" /> Monday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="monstart" [(ngModel)]="openingTime.mon.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="monend" [(ngModel)]="openingTime.mon.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursTue" [(ngModel)]="openingTime.tue.checked" (ngModelChange)="onFilterChange($event, 'tue')" /> Tuesday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="tuestart" [(ngModel)]="openingTime.tue.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="tueend" [(ngModel)]="openingTime.tue.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursWed" [(ngModel)]="openingTime.wed.checked" (ngModelChange)="onFilterChange($event, 'wed')" /> Wednesday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="wedstart" [(ngModel)]="openingTime.wed.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="wedend" [(ngModel)]="openingTime.wed.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursThu" [(ngModel)]="openingTime.thu.checked" (ngModelChange)="onFilterChange($event, 'thu')" /> Thursday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="thustart" [(ngModel)]="openingTime.thu.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="thuend" [(ngModel)]="openingTime.thu.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursFri" [(ngModel)]="openingTime.fri.checked" (ngModelChange)="onFilterChange($event, 'fri')" /> Friday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="fristart" [(ngModel)]="openingTime.fri.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="friend" [(ngModel)]="openingTime.fri.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursSat" [(ngModel)]="openingTime.sat.checked" (ngModelChange)="onFilterChange($event, 'sat')" /> Saturday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="satstart" [(ngModel)]="openingTime.sat.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="satend" [(ngModel)]="openingTime.sat.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursSun" [(ngModel)]="openingTime.sun.checked" (ngModelChange)="onFilterChange($event, 'sun')" /> Sunday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="sunstart" [(ngModel)]="openingTime.sun.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                            <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select> - To:
                                                    <select name="sunend" [(ngModel)]="openingTime.sun.end" #type="ngModel">
                            <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                              {{time.hours}}
                            </option>
                          </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label>Pinboards</label><br />
                            <p-multiSelect [options]="dropdownList" [(ngModel)]="town.pinboardList" name="pinboardList" #pinboardList="ngModel" [panelStyle]="{minWidth:'20em'}" defaultLabel="Please select"></p-multiSelect>
                            <div *ngIf="htmlOptions.onPinboardselect" class="invalid-feedback">Pinboard is required</div>
                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <div class="btin-right-dvs">
                                        <div class="save-btn-changes">
                                            <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit"><span *ngIf="!this.htmlOptions.button">Save</span><span *ngIf="this.htmlOptions.button">Update</span></button>
                                        </div>
                                        <div class="save-btn-changes">
                                            <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!htmlOptions.editMode">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <!--    <th>Country</th>
                    <th>Region</th>
                    <th>Suburb</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr *ngFor="let town of townData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                        <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>

                                        <td class="page-title-break">{{town.title}}</td>
                                        <!-- <td class="page-title-break">{{town.title}}</td>
                    <td class="page-title-break">{{town.title}}</td>
                    <td class="page-title-break">{{town.title}}</td> -->
                                        <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="town.isActive!=1" href="javascript:void(0)" (click)="townAction(town.id, 'active')">
                          <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="town.isActive==1" href="javascript:void(0)" (click)="townAction(town.id, 'inactive')">
                          <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <a title="Click here to edit" (click)="editTown(town.id)"> <i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></a>
                        <a title="Click here to delete" href="javascript:void(0)" (click)="townAction(town.id, 'delete')"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <!-- <a title="Click here to view content" routerLink="/page-content/{{town.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
                      </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!townData">
                                        <td colspan="4">No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right" *ngIf="townData">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <app-footer></app-footer>
    </div>
    <!-- /#page-wrapper -->
</div>