.ui-multiselect{
    width: 315px !important;
}
/* @media (min-width: 320px) and (max-width: 767px){
.ui-multiselect-panel.ui-widget.ui-widget-content {
    min-width: 270px !important;
    max-width: 100% !important;
}
} */