<!-- <div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div> -->
<section id="wrapper" class="new-login-register">
    <div class="lg-info-panel">
        <div class="inner-panel">
            <div class="login-pin">
                <a href="javascript:void(0)" class="p-20 di"><img class="logo-pin" src="assets/plugins/images/logo-pin.png"></a>
            </div>
            <div class="logo-pin-headings">StreetPin</div>
            <div class="lg-content">
                <h2>WELCOME TO ADMIN PANEL</h2>
            </div>
        </div>
    </div>
    <div class="sx-logo-mobile-show">
        <a href="javascript:void(0)"><img class="logo-pin" src="assets/plugins/images/logo-pin.png" class="st-logo-xs"></a>
        <span class="logo-titles">StreetPin</span></div>
    <div class="new-login-box">
        <div class="white-box">
            <h3 class="box-title m-b-0">Reset Password</h3>
            <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 201 }">{{message.message}}</div>
            <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()" class="form-horizontal new-lg-form">
                <div class="form-group  m-t-20">
                    <div class="col-xs-12">
                        <label>New Password <span class="req">*</span></label>
                        <input type="password" formControlName="password" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label>Confirm Password <span class="req">*</span></label>
                        <input type="password" formControlName="confirm_password" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                            <div *ngIf="f.confirm_password.errors.required">Confirm password is required</div>
                            <div *ngIf="f.confirm_password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                        <div class="invalid-feedback" *ngIf="confirmPassNotValid">Passwords do not match</div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Reset</button>
                    </div>
                    <div class="col-xs-12 m-t-20">
                        <a routerLink="/login" class="text-dark pull-right"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
              Back to Login </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>