<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"><span class="page-title-cs">Credit Plans</span> <span class="admin-add-btns"><a href="javascript:void(0)"
                (click)="addCreditplan()">Add</a></span></h4>

        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Credit Plans</li>
          </ol>
        </div>
      </div>
      <div class="row" *ngIf="htmlOptions.editMode">
        <div class="col-md-12 col-xs-12">
          <div class="white-box">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"
              novalidate>

              <div class="form-group">
                <label class="col-md-12">Plan Name<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" maxlength="80" class="form-control form-control-line" placeholder="Enter Plan Name"
                    name="planName" [(ngModel)]="Creditplan.planName" #planName="ngModel" trim="blur" required>
                  <div *ngIf="f.submitted && !planName.valid" class="invalid-feedback">Plan Name field is required</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Credits<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" maxlength="8" pattern="^[1-9][0-9]*$" class="form-control form-control-line" placeholder="Enter Credits" name="credits"
                    [(ngModel)]="Creditplan.credits" #credits="ngModel" trim="blur" required>
                  <div *ngIf="f.submitted && !credits.valid && !credits.errors.pattern" class="invalid-feedback">Credits field is required</div>
                  <div *ngIf="credits.errors && credits.errors.pattern" class="invalid-feedback">Please enter a valid number</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Amount<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" maxlength="8" class="form-control form-control-line" placeholder="Enter Amount" pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,2})?\s*$" name="planAmount"
                    [(ngModel)]="Creditplan.planAmount" #planAmount="ngModel" trim="blur" required>
                  <div *ngIf="f.submitted && !planAmount.valid && !planAmount.errors.pattern" class="invalid-feedback">Amount field is required</div>
                    <div *ngIf="planAmount.errors && planAmount.errors.pattern" class="invalid-feedback">Please enter a valid amount</div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="col-md-12">Days<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" maxlength="8" class="form-control form-control-line" placeholder="Enter Days" name="numberOfDays"
                    [(ngModel)]="Creditplan.numberOfDays" pattern="^[1-9][0-9]*$" #numberOfDays="ngModel" trim="blur" required>
                  <div *ngIf="f.submitted && !numberOfDays.valid && !numberOfDays.errors.pattern" class="invalid-feedback">Days field is required</div>
                  <div *ngIf="numberOfDays.errors && numberOfDays.errors.pattern" class="invalid-feedback">Please enter a valid number</div>
                </div>
              </div> -->
              <div class="form-group">
                <label class="col-md-12">Description<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter description" name="description"
                    [(ngModel)]="Creditplan.description" #description="ngModel" required >
                  <div *ngIf="f.submitted && !description.valid" class="invalid-feedback">Description field is required</div>
                </div>
              </div>

              <div class="form-group m-t-20">
                <div class="col-xs-12">
                  <div class="btin-right-dvs">
                    <div class="save-btn-changes">
                      <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light "
                        type="submit"><span *ngIf="!this.htmlOptions.button">Save</span><span *ngIf="this.htmlOptions.button">Update</span></button>
                    </div>
                    <div class="save-btn-changes">
                      <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!htmlOptions.editMode">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Plan Name</th>
                    <th>Credits</th>
                    <th>Amount</th>
                    <!-- <th>Days</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>


                    <tr *ngFor="let credit of creditplanData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                      <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                    <td class="page-title-break">{{credit.planName}}</td>
                    <td class="page-title-break">{{credit.credits}}</td>
                    <td class="page-title-break">&pound;{{credit.planAmount}}</td>
                    <!-- <td class="page-title-break">{{credit.numberOfDays}}</td> -->
                    <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="!credit.active" href="javascript:void(0)" (click)="creditPlanAction(credit.planId, 'active')">
                          <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="credit.active" href="javascript:void(0)" (click)="creditPlanAction(credit.planId, 'inactive')">
                          <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <a title="Click here to edit" (click)="editCreditplan(credit.planId)"> <i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></a>
                        <a title="Click here to delete" href="javascript:void(0)" (click)="creditPlanAction(credit.planId, 'delete')"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <!-- <a title="Click here to view content" routerLink="/page-content/{{credit.planId}}"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="!creditplanData">
                    <td colspan="4">No records found</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right" *ngIf="creditplanData">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <app-footer></app-footer>
  </div>
  <!-- /#page-wrapper -->
</div>