<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
    <app-header></app-header>
    <div class="navbar-default sidebar" role="navigation">
        <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"><span class="page-title-cs">Subscription Plans</span>
                        <!-- <span class="admin-add-btns"><a
                href="javascript:void(0)" (click)="addCreditplan()">Add</a></span> -->
                    </h4>

                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="active">Subscription Plans</li>
                    </ol>
                </div>
            </div>
            <div class="row" *ngIf="htmlOptions.editMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>

                            <div class="form-group">
                                <label class="col-md-12">Plan Name<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" maxlength="80" class="form-control form-control-line" placeholder="Enter Plan Name" name="planName" [(ngModel)]="Subscription.planName" #planName="ngModel" trim="blur" required>
                                    <div *ngIf="f.submitted && !planName.valid" class="invalid-feedback">Plan Name field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Tagline<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" maxlength="80" class="form-control form-control-line" placeholder="Enter Tagline" name="amountDescription" [(ngModel)]="Subscription.amountDescription" #amountDescription="ngModel" trim="blur" required>
                                    <div *ngIf="f.submitted && !amountDescription.valid" class="invalid-feedback">Tagline field is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Amount<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" maxlength="8" class="form-control form-control-line" placeholder="Enter Amount" pattern="^\s*(?=.*[0-9])\d*(?:\.\d{1,2})?\s*$" name="planAmount" [(ngModel)]="Subscription.planAmount" #planAmount="ngModel" trim="blur" required>
                                    <div *ngIf="f.submitted && !planAmount.valid && !planAmount.errors.pattern" class="invalid-feedback">
                                        Amount field is required</div>
                                    <div *ngIf="planAmount.errors && planAmount.errors.pattern" class="invalid-feedback">Please enter a valid amount</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Description</label>
                                <div class="col-md-12">
                                    <p-editor [(ngModel)]="Subscription.description" #description="ngModel" name="description" [style]="{'height':'320px'}">
                                        <!-- <p-header>
                                            <span class="ql-formats">
                                                <button class="ql-bold" aria-label="Bold"></button>
                                                <button class="ql-italic" aria-label="Italic"></button>
                                                <button class="ql-underline" aria-label="Underline"></button>
                                            </span>
                                        </p-header> -->
                                    </p-editor>
                                </div>
                            </div>
                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <div class="btin-right-dvs">
                                        <div class="save-btn-changes">
                                            <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit"><span>Update</span></button>
                                        </div>
                                        <div class="save-btn-changes">
                                            <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!htmlOptions.editMode">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Plan Name</th>
                                        <th>Amount</th>
                                        <th>Tagline</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr *ngFor="let credit of SubscriptionData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                        <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                                        <td class="page-title-break">{{credit.planName}}</td>
                                        <td class="page-title-break">&pound;{{credit.planAmount}}</td>
                                        <td class="page-title-break">{{credit.amountDescription}}</td>
                                        <!-- <td class="page-title-break">{{credit.numberOfDays}}</td> -->
                                        <td><span class="actons-box-ad">

                        <a title="Click here to edit" (click)="editSubscription(credit.planId)"> <i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                      </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!SubscriptionData">
                                        <td colspan="4">No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right" *ngIf="SubscriptionData">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <app-footer></app-footer>
    </div>
    <!-- /#page-wrapper -->
</div>