<ul class="nav" id="side-menu">
    <li style="padding: 70px 0 0;">

        <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect">
            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
        <a routerLink="/users" routerLinkActive="active" class="waves-effect">
            <i class="fa fa-users fa-fw" aria-hidden="true"></i>Users</a>
    </li>
    <li>
        <a (click)="changeModule($event)" routerLink="/discountvouchers" routerLinkActive="active" class="waves-effect">
            <i class="fa fa-gift fa-fw" aria-hidden="true"></i>Discount Vouchers</a>
    </li>
    <!-- <li>
    <a routerLink="/pages" class="waves-effect">
      <i class="fa fa-users fa-fw" aria-hidden="true"></i>Static Pages</a>
  </li>  -->
    <li>
        <a (click)="changeModule($event)" routerLink="/cms" routerLinkActive="active" class="waves-effect">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>CMS</a>
    </li>
    <li>
        <a (click)="changeModule($event)" routerLink="/offers" routerLinkActive="active" class="waves-effect">
            <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Offers</a>
    </li>
    <li>
        <li>
            <a (click)="changeModule($event)" routerLink="/pinboard" routerLinkActive="active" class="waves-effect">
                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>Pinboard</a>
        </li>
        <li>
            <a (click)="changeModule($event)" routerLink="/town-pinboard" routerLinkActive="active" class="waves-effect">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Town Pinboards</a>
        </li>
        <li>
            <a (click)="changeModule($event)" routerLink="/my-offer-credits" routerLinkActive="active" class="waves-effect">
                <i class="fa fa-money fa-fw" aria-hidden="true"></i>Offer Credit Plans</a>
        </li>
        <li>
            <a (click)="changeModule($event)" routerLink="/subscriptions-plan" routerLinkActive="active" class="waves-effect">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>Subscriptions Plan</a>
        </li>
        <li>
            <a (click)="changeModule($event)" routerLink="/subscriptions" routerLinkActive="active" class="waves-effect">
                <i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i>User Subscriptions</a>
        </li>
</ul>