<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<section id="wrapper" class="new-login-register">
    <div class="lg-info-panel">
        <div class="inner-panel">
            <div class="login-pin">
                <a href="javascript:void(0)" class="p-20 di"><img class="logo-pin" src="assets/plugins/images/logo-pin.png"></a>
            </div>
            <div class="logo-pin-headings">StreetPin</div>
            <div class="lg-content">
                <h2>WELCOME TO ADMIN PANEL</h2>
            </div>
        </div>
    </div>
    <div class="sx-logo-mobile-show">
        <a href="javascript:void(0)"><img class="logo-pin" src="assets/plugins/images/logo-pin.png" class="st-logo-xs"></a>
        <span class="logo-titles">StreetPin</span></div>
    <div class="new-login-box">
        <div class="white-box">
            <h3 class="box-title m-b-0 for-top-space">Forgot Password?</h3>
            <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode != 200 }">{{message.message}}</div>
            <!--     <small>Enter your Email and instructions will be sent to you!</small> -->
            <form class="form-horizontal new-lg-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <label>Email Address <span class="req">*</span></label>
                        <input type="text" formControlName="email" name="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" value="" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Send</button>
                    </div>
                    <div class="col-xs-12 m-t-20">
                        <a routerLink="/login" class="text-dark pull-right"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
              Back to Login </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>