<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
    <app-header></app-header>
    <div class="navbar-default sidebar" role="navigation">
        <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"><span class="page-title-cs">Pinboard</span> <span class="admin-add-btns">
            <!-- <a href="javascript:void(0)"(click)="addPinboard()">Add</a> -->
            <a *ngIf="!htmlOptions.viewMode" href="javascript:void(0)" (click)="addPinboard()">Add</a>
            <a *ngIf="htmlOptions.viewMode" href="javascript:void(0)" (click)="htmlOptions.viewMode = false">Back</a>
          </span></h4>

                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="active">Pinboard</li>
                    </ol>
                </div>
            </div>
            <div class="row" *ngIf="htmlOptions.editMode && !htmlOptions.viewMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                            <div class="form-group">
                                <label class="col-md-12">Title<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Title" name="title" [(ngModel)]="pinboard.title" #title="ngModel" required>
                                    <div *ngIf="f.submitted && !title.valid && !title.errors.pattern" class="invalid-feedback">Title field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Logo</label>
                                <div class="col-md-12">
                                    <!-- <input type="file" > -->
                                    <input type="file" (change)="fileEvent($event, 'logo')" id="logo" name="logo" #logo="ngModel" [(ngModel)]="pinboard.logo" accept="image/*">
                                    <div *ngIf="f.submitted && !logo.valid" class="invalid-feedback">Image field is required</div>
                                </div>

                                <div class="col-md-12" *ngIf="htmlOptions.logo && htmlOptions.editMode && htmlOptions.logo !='null'">
                                    <img src="{{htmlOptions.logo}}" class="img-fluid img-border edit-image">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Background Image</label>
                                <div class="col-md-12">
                                    <!-- <input type="file" > -->
                                    <input type="file" (change)="fileEvent($event, 'backgroundImage')" id="backgroundImage" name="backgroundImage" #backgroundImage="ngModel" [(ngModel)]="pinboard.backgroundImage" accept="image/*">
                                    <div *ngIf="f.submitted && !backgroundImage.valid" class="invalid-feedback">Image field is required</div>
                                </div>

                                <div class="col-md-12" *ngIf="htmlOptions.backgroundImage && htmlOptions.editMode && htmlOptions.backgroundImage !='null'">
                                    <img src="{{htmlOptions.backgroundImage}}" class="img-fluid img-border edit-image">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Type<span class="req">*</span></label>
                                <div class="col-md-3">
                                    <select class="form-control slect-border" name="type1" [(ngModel)]="pinboard.type" #type1="ngModel" required>
                    <option [ngValue]="null">Please Select</option>
                    <option [ngValue]="1">Free </option>
                    <option [ngValue]="2">Paid </option>
                  </select>
                                    <div *ngIf="f.submitted && !type1.valid" class="invalid-feedback">Type field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Category<span class="req">*</span></label>
                                <div class="col-md-3">
                                    <select class="form-control slect-border" name="categoryId" [(ngModel)]="pinboard.categoryId" #categoryId="ngModel" required>
                    <option [ngValue]="null">Please Select</option>
                    <option *ngFor="let category of categorydata" [ngValue]=category.categoryId>{{category.categoryName}}
                    </option>
                  </select>
                                    <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback">Category field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Location<span class="req">*</span><span class="small-messge"> ( Enter the address i.e. 123 High Street, MyTown... ) </span></label>
                                <div class="col-md-12">
                                    <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="200" class="form-control form-control-line" placeholder="Enter location"
                                        name="location" [(ngModel)]="pinboard.businessInformation.location" #location="ngModel" required>
                                    <div *ngIf="f.submitted && !location.valid" class="invalid-feedback">Location field is required</div>
                                    <div *ngIf="f.submitted && !latitude.valid && location.valid" class="invalid-feedback">Please select valid location</div>
                                </div>
                            </div>

                            <input type="hidden" trim="blur" maxlength="50" class="form-control form-control-line" name="latitude" [(ngModel)]="pinboard.latitude" #latitude="ngModel" required>

                            <div class="form-group">
                                <label class="col-md-12">Bio<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="500" class="form-control form-control-line" placeholder="Enter Bio" name="about" [(ngModel)]="pinboard.businessInformation.about" #about="ngModel" required>
                                    <div *ngIf="f.submitted && !about.valid" class="invalid-feedback">Bio field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Services<span class="req">*</span><span class="small-messge"> ( Add # to each service i.e. #breakfast to help users find you )</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="100" class="form-control form-control-line" placeholder="Enter Services(Hashtags)" name="servicesHashtags" [(ngModel)]="pinboard.businessInformation.servicesHashtags" #servicesHashtags="ngModel" required>
                                    <div *ngIf="f.submitted && !servicesHashtags.valid" class="invalid-feedback">Services field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Opening Hours</label>
                                <div class="col-md-12">
                                    <div class="col-md">
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursMon" [(ngModel)]="openingTime.mon.checked" (ngModelChange)="onFilterChange($event, 'mon')" /> Monday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="monstart" [(ngModel)]="openingTime.mon.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                      <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                        {{time.hours}}
                      </option>
                     </select> - To:
                                                    <select name="monend" [(ngModel)]="openingTime.mon.end" #type="ngModel">
                      <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                        {{time.hours}}
                      </option>
                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursTue" [(ngModel)]="openingTime.tue.checked" (ngModelChange)="onFilterChange($event, 'tue')" /> Tuesday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="tuestart" [(ngModel)]="openingTime.tue.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="tueend" [(ngModel)]="openingTime.tue.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursWed" [(ngModel)]="openingTime.wed.checked" (ngModelChange)="onFilterChange($event, 'wed')" /> Wednesday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="wedstart" [(ngModel)]="openingTime.wed.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="wedend" [(ngModel)]="openingTime.wed.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursThu" [(ngModel)]="openingTime.thu.checked" (ngModelChange)="onFilterChange($event, 'thu')" /> Thursday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="thustart" [(ngModel)]="openingTime.thu.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="thuend" [(ngModel)]="openingTime.thu.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursFri" [(ngModel)]="openingTime.fri.checked" (ngModelChange)="onFilterChange($event, 'fri')" /> Friday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="fristart" [(ngModel)]="openingTime.fri.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="friend" [(ngModel)]="openingTime.fri.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursSat" [(ngModel)]="openingTime.sat.checked" (ngModelChange)="onFilterChange($event, 'sat')" /> Saturday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="satstart" [(ngModel)]="openingTime.sat.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="satend" [(ngModel)]="openingTime.sat.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 m-b-10">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <input type="checkbox" name="openingHoursSun" [(ngModel)]="openingTime.sun.checked" (ngModelChange)="onFilterChange($event, 'sun')" /> Sunday
                                                </div>
                                                <div class="col-sm-6">
                                                    From:
                                                    <select name="sunstart" [(ngModel)]="openingTime.sun.start" #type="ngModel" (ngModelChange)="fromChange($event)">
                        <option *ngFor="let time of fromTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select> - To:
                                                    <select name="sunend" [(ngModel)]="openingTime.sun.end" #type="ngModel">
                        <option *ngFor="let time of toTimeArray" [ngValue]=time.hours>
                          {{time.hours}}
                        </option>
                      </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Website URL</label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="200" class="form-control form-control-line" placeholder="Enter Website URL" name="website" [(ngModel)]="pinboard.businessInformation.website" #website="ngModel">
                                    <div *ngIf="f.submitted && !website.valid" class="invalid-feedback">Website URL field is required</div>

                                </div>
                            </div>
                            <label>User</label><br />

                            <ng-multiselect-dropdown [placeholder]="'Select User'" name='user' [data]="users" [(ngModel)]="pinboard.userNew" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>

                            <div class="form-group m-t-20">
                                <label class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" pattern='^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' maxlength="100" class="form-control form-control-line" placeholder="Enter Email"
                                        name="email" [(ngModel)]="pinboard.businessInformation.email" #email="ngModel">
                                    <div *ngIf="f.submitted && !email.valid && !email.errors.pattern" class="invalid-feedback">Email field is required</div>
                                    <div *ngIf="email.errors && email.errors.pattern" class="invalid-feedback">Please enter a valid email</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone Number</label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" pattern="^[0-9 _]*$" minlength=5 maxlength=20 class="form-control form-control-line" placeholder="Enter Phone Number" name="phone" [(ngModel)]="pinboard.businessInformation.phone" #phone="ngModel">
                                    <div *ngIf="f.submitted && !phone.valid && !phone.errors.pattern && (!f.controls['phone'].hasError('minlength') || f.controls['phone'].hasError('maxlength'))" class="invalid-feedback">Phone number field is required</div>
                                    <div *ngIf="f.submitted && !phone.valid && f.controls['phone'].hasError('minlength') && !phone.errors.pattern" class="invalid-feedback">
                                        Please Enter a valid phone number
                                    </div>
                                    <div *ngIf="f.submitted && !phone.valid && f.controls['phone'].hasError('maxlength') && !phone.errors.pattern" class="invalid-feedback">
                                        Please Enter a valid phone number
                                    </div>
                                    <div *ngIf="phone.errors && phone.errors.pattern" class="invalid-feedback">Please enter a valid Phone Number</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Expiry Date<span class="req">*</span></label><br />
                                    <p-calendar name="expiryDate" [minDate]="minDate" [readonlyInput]="true" [(ngModel)]="pinboard.expiryDate" #expiryDate="ngModel" required [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                                    <div *ngIf="f.submitted && !expiryDate.valid" class="invalid-feedback">Expiry Date field is required</div>
                                </div>
                            </div>
                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <div class="btin-right-dvs">
                                        <div class="save-btn-changes">
                                            <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit"><span *ngIf="!this.htmlOptions.button">Save</span><span *ngIf="this.htmlOptions.button">Update</span></button>
                                        </div>
                                        <div class="save-btn-changes">
                                            <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!htmlOptions.editMode && !htmlOptions.viewMode">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <!-- <th>Created date</th> -->
                                        <th>Expiry date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr *ngFor="let pinboard of pinboardData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                        <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                                        <td class="page-title-break">{{pinboard.title}}</td>
                                        <td class="page-title-break">{{pinboard.categoryName}}</td>
                                        <!-- <td class="page-title-break">{{pinboard.createdDate | date: 'dd-MM-yyyy'}}</td> -->
                                        <td class="page-title-break">{{pinboard.expiryDate}}</td>
                                        <td *ngIf="!pinboard.pinboardStatus"></td>
                                        <td *ngIf="pinboard.pinboardStatus==1">Draft</td>
                                        <td *ngIf="pinboard.pinboardStatus==2">Published</td>
                                        <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="!pinboard.isActive" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'active')">
                          <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="pinboard.isActive" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'inactive')">
                          <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <a title="Click here to edit" (click)="editPinboard(pinboard.id)"> <i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></a>
                        <a title="Click here to delete" href="javascript:void(0)" (click)="pinboardAction(pinboard.id, 'delete')"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <a title="Click here to view content" (click)="viewPinboard(pinboard.id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <!-- <a title="Click here to view content" routerLink="/page-content/{{pinboard.id}}"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
                      </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!pinboardData">
                                        <td colspan="4">No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right" *ngIf="pinboardData">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!pinboardViewData && htmlOptions.viewMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <div class="form-group">
                            <p>No Records Found</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="pinboardViewData && htmlOptions.viewMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Title</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Title" name="title" [(ngModel)]="pinboard.title" #title="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Logo<span class="small-messge"> ( Ensure you have the rights to use this ) </span></label>
                                <div class="col-md-12">
                                    <img *ngIf="pinboard.logo!='null'" src="{{pinboard.logo}}" class="img-fluid img-border edit-image">
                                    <p *ngIf="pinboard.logo=='null'">No image found</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Background Image</label>
                                <div class="col-md-12">
                                    <img *ngIf="pinboard.backgroundImage!='null'" src="{{pinboard.backgroundImage}}" class="img-fluid img-border edit-image">
                                    <p *ngIf="pinboard.backgroundImage=='null'">No image found</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Type</label>
                                <div class="col-md-12">
                                    <input readonly type="text" class="form-control form-control-line" placeholder="Enter Title" name="title" value="{{typeText}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Category</label>
                                <div class="col-md-12">
                                    <input readonly id="categoryName" type="text" trim="blur" maxlength="50" class="form-control form-control-line" name="categoryName" [(ngModel)]="pinboard.categoryName" #categoryName="ngModel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Location</label>
                                <div class="col-md-12">
                                    <input readonly id="address" type="text" trim="blur" maxlength="50" class="form-control form-control-line" name="location" [(ngModel)]="pinboard.businessInformation.location" #location="ngModel" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Bio</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" maxlength="500" class="form-control form-control-line" name="about" [(ngModel)]="pinboard.businessInformation.about" #about="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Services(Hashtags)</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" maxlength="50" class="form-control form-control-line" name="servicesHashtags" [(ngModel)]="pinboard.businessInformation.servicesHashtags" #servicesHashtags="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Opening hours</label>
                                <div class="col-md-12">
                                    <table>
                                        <tr *ngIf="openingTime.mon.checked">
                                            <td>Monday: </td>

                                            <td>{{openingTime.mon.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.mon.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.tue.checked">
                                            <td>Tuesday: </td>
                                            <td>{{openingTime.tue.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.tue.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.wed.checked">
                                            <td>Wednesday: </td>
                                            <td>{{openingTime.wed.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.wed.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.thu.checked">
                                            <td>Thursday: </td>
                                            <td>{{openingTime.thu.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.thu.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.fri.checked">
                                            <td>Friday: </td>
                                            <td>{{openingTime.fri.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.fri.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.sat.checked">
                                            <td>Saturday: </td>
                                            <td>{{openingTime.sat.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.sat.end}}</td>
                                        </tr>
                                        <tr *ngIf="openingTime.sun.checked">
                                            <td>Sunday: </td>
                                            <td>{{openingTime.sun.start}}</td>
                                            <td> - </td>
                                            <td>{{openingTime.sun.end}}</td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Website URL</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" maxlength="200" pattern="https?://.+" class="form-control form-control-line" name="website" [(ngModel)]="pinboard.businessInformation.website" #website="ngModel" required>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                  <label class="col-md-12">User</label>
                  <div class="col-md-12">

                    <input readonly type="text" trim="blur" maxlength="50" class="form-control form-control-line" name="email" value="{{name}}"                    >
                  </div>
                </div> -->
                            <div class="form-group">
                                <label class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" maxlength="100" class="form-control form-control-line" name="email" [(ngModel)]="pinboard.businessInformation.email" #email="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Phone Number</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" pattern="^[1-9][0-9]*$" minlength=5 maxlength=20 class="form-control form-control-line" name="phone" [(ngModel)]="pinboard.businessInformation.phone" #phone="ngModel" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Expiry Date</label>
                                <div class="col-md-12">
                                    <input readonly type="text" trim="blur" pattern="^[1-9][0-9]*$" class="form-control form-control-line" placeholder="Enter Phone Number" name="expiryDate" [(ngModel)]="pinboard.expiryDate" #expiryDate="ngModel" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <app-footer></app-footer>
    </div>
    <!-- /#page-wrapper -->
</div>