<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
	<p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav slimscrollsidebar">
	  <app-left-sidebar></app-left-sidebar>
	</div>
  </div>
  <div id="page-wrapper">
	<div class="container-fluid">
		<div class="row bg-title">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
				<h4 class="page-title">Change Password</h4>
			</div>
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
				<ol class="breadcrumb">
					<li><a routerLink="/dashboard">Dashboard</a></li>
					<li class="active">Change Password</li>
				</ol>
			</div>
		</div>
	  <div class="row">
		<div class="col-lg-12 col-sm-12 col-xs-12">

  <div class="new-login-box">


	<div class="white-box">
		<!-- <div class="col-lg-3 col-sm-12 col-xs-12"></div> -->
				<div class="col-lg-12 col-sm-12 col-xs-12">
	  <div *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.statusCode === 200, 'alert-danger': message.statusCode === 201 }">{{message.message}}</div>
	  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()" class="form-horizontal form-material">
		<div class="form-group  m-t-20">
		  <div class="col-xs-12">
			<label>Old Password <span class="req">*</span></label>
			<input type="password" maxlength="20" formControlName="old_password" maxlength="20" class="form-control form-control-line" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }" />
			<div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
			  <div *ngIf="f.old_password.errors.required">Old Password is required</div>
			</div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-xs-12">
			<label>New Password <span class="req">*</span></label>
			<input type="password" maxlength="20" formControlName="password" maxlength="20" class="form-control form-control-line" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
			<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
			  <div *ngIf="f.password.errors.required">Password is required</div>
			  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
			</div>
		  </div>
		</div>
		<div class="form-group">
		  <div class="col-xs-12">
			<label>Confirm Password <span class="req">*</span></label>
			<input type="password" maxlength="20" formControlName="confirm_password" maxlength="20" class="form-control form-control-line" [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }" />
			<div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
			  <div *ngIf="f.confirm_password.errors.required">Confirm password is required</div>
			  <div *ngIf="f.confirm_password.errors.minlength">Password must be at least 6 characters</div>
			</div>
			<div class="invalid-feedback" *ngIf="confirmPassNotValid">Passwords do not match</div>
		  </div>
		</div>
		<div class="form-group text-center m-t-20">
			<div class="btin-right-dvs">
				<div class="save-btn-changes">
					<button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Save</button>
				</div>
				<div class="save-btn-changes">
					<a routerLink="/dashboard" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
				</div>
			</div>




		</div>
	  </form>
	</div>
	<div class="clear"></div>
	</div>
  </div>
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>
  </div>