<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
    <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
    <app-header></app-header>
    <div class="navbar-default sidebar" role="navigation">
        <app-left-sidebar (changeModule)="changeModule($event)"></app-left-sidebar>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"><span class="page-title-cs">Offers</span> <span class="admin-add-btns"><a href="javascript:void(0)"
                (click)="addOffer()">Add</a></span></h4>

                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="active">Offers</li>
                    </ol>
                </div>
            </div>
            <div class="row" *ngIf="htmlOptions.editMode">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box">
                        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
                            <!--  <input type="text" trim="blur" name="userId" [(ngModel)]="Offers.userId" #userId="ngModel"> -->
                            <div class="form-group">
                                <label class="col-md-12">Offer Name<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Offer Name" name="offerName" [(ngModel)]="Offers.offerName" #offerName="ngModel" required>
                                    <div *ngIf="f.submitted && !offerName.valid" class="invalid-feedback">Offer Name field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Offer Title<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Offer Title" name="title" [(ngModel)]="Offers.title" #title="ngModel" required>
                                    <div *ngIf="f.submitted && !title.valid" class="invalid-feedback">Offer Title field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Category<span class="req">*</span></label>
                                <div class="col-md-4">
                                    <select (change)="onCategoryChange($event)" class="form-control slect-border" name="categoryId" [(ngModel)]="Offers.categoryId" #categoryId="ngModel" required>
                  <option [ngValue]="null">Please Select</option>
                  <option *ngFor="let category of categorydata" [ngValue]=category.categoryId>{{category.categoryName}}
                  </option>
                </select>
                                    <div *ngIf="f.submitted && !categoryId.valid" class="invalid-feedback">Category field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Description<span class="req">*</span></label>
                                <div class="col-md-12">
                                    <textarea trim="blur" maxlength="500" class="form-control form-control-line" placeholder="Enter Description" name="offerDescription" [(ngModel)]="Offers.offerDescription" #offerDescription="ngModel" required>{{Offers.offerDescription}}</textarea>
                                    <div *ngIf="f.submitted && !offerDescription.valid" class="invalid-feedback">Description field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Services<span class="req">*</span><span class="small-messge"> ( Add # to each service i.e. #breakfast to help users find you ) </span></label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Services(Hashtags)" name="servicesHashtags" [(ngModel)]="Offers.servicesHashtags" #servicesHashtags="ngModel" required>
                                    <div *ngIf="f.submitted && !servicesHashtags.valid" class="invalid-feedback">Services field is required</div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                <label class="col-md-12">Offer logo<span class="small-messge"> ( Ensure you have the rights to use this ) </span></label>
                <div class="col-md-12">

                            <input type="file" (change)="fileEvent($event, 'offerIcon')" id="offerIcon" name="offerIcon" #offerIcon="ngModel" [(ngModel)]="Offers.offerIcon" accept="image/*">
                            <div *ngIf="f.submitted && !offerIcon.valid" class="invalid-feedback">Offer logo field is required</div>
                    </div>

                    <div class="col-md-12" *ngIf="htmlOptions.offerIcon && htmlOptions.editMode">
                        <img src="{{htmlOptions.offerIcon}}" class="img-fluid img-border edit-image">
                    </div>
                </div> -->
                            <div class="form-group">
                                <label class="col-md-12">Offer Image</label>
                                <div class="col-md-12">
                                    <input type="file" (change)="fileEvent($event, 'offerMedia')" id="offerMedia" name="offerMedia" #offerMedia="ngModel" [(ngModel)]="Offers.offerMedia" accept="image/*">
                                    <div *ngIf="f.submitted && !offerMedia.valid" class="invalid-feedback">Offer Image field is required</div>
                                </div>

                                <div class="col-md-12" *ngIf="htmlOptions.offerMedia && htmlOptions.editMode">
                                    <img src="{{htmlOptions.offerMedia}}" class="img-fluid img-border edit-image">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Colour<span class="req">*</span></label>
                                <div class="col-md-12">

                                    <div class="colorBtnsOffer">
                                        <label class="btn colorSelect" style="background:rgb(250, 191, 149)">
                      <input type="radio"  name="backgroundColor" (change)="backgroundColor('1');" [checked]="Offers.backgroundColor==1" [value]="1" >
                      <i class="fa fa-check" ></i>
                    </label>
                                        <label class="btn colorSelect" style="background:rgb(163, 231, 137)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('2');" [checked]="Offers.backgroundColor==2" [value]="2" >
                      <i class="fa fa-check"></i>
                    </label>
                                        <!--  <label class="btn colorSelect" style="background:rgb(231, 222, 137)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('3');" [checked]="Offers.backgroundColor==3" [value]="3" >
                      <i class="fa fa-check"></i>
                    </label> -->
                                        <label class="btn colorSelect" style="background:rgb(137, 175, 231)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('4');" [checked]="Offers.backgroundColor==4" [value]="4" >
                      <i class="fa fa-check"></i>
                    </label>
                                        <label class="btn colorSelect" style="background:rgb(231, 137, 226)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('5');" [checked]="Offers.backgroundColor==5" [value]="5" >
                      <i class="fa fa-check"></i>
                    </label>
                                        <!--  <label class="btn colorSelect" style="background:rgb(175, 255, 235)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('6');" [checked]="Offers.backgroundColor==6" [value]="6">
                      <i class="fa fa-check"></i>
                    </label> -->
                                        <label class="btn colorSelect" style="background:rgb(210, 193, 238)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('7');" [checked]="Offers.backgroundColor==7" [value]="7">
                      <i class="fa fa-check"></i>
                    </label>
                                        <label class="btn colorSelect" style="background:rgb(196, 212, 198)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('8');" [checked]="Offers.backgroundColor==8" [value]="8">
                      <i class="fa fa-check"></i>
                    </label>
                                        <label class="btn colorSelect" style="background:rgb(226, 187, 187)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('9');" [checked]="Offers.backgroundColor==9" [value]="9">
                      <i class="fa fa-check"></i>
                    </label>
                                        <!--  <label class="btn colorSelect" style="background:rgb(250, 219, 172)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('10');" [checked]="Offers.backgroundColor==10" [value]="10">
                      <i class="fa fa-check"></i>
                    </label> -->
                                        <label class="btn colorSelect" style="background:rgb(255, 255, 255)">
                      <input type="radio" name="backgroundColor" (change)="backgroundColor('11');" [checked]="Offers.backgroundColor==11" [value]="11" checked>Default blue
                      <i class="fa fa-check"></i>
                    </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Location<span class="small-messge"> ( Enter the address i.e. 123 High Street, MyTown... ) </span></label>
                                <div class="col-md-12">
                                    <input id="address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" trim="blur" onPaste="return false" maxlength="200" class="form-control form-control-line" placeholder="Enter location"
                                        name="location" [(ngModel)]="Offers.location" #location="ngModel">
                                    <div *ngIf="f.submitted && !location.valid" class="invalid-feedback">Location field is required</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">User<span class="req">*</span></label>
                                <div class="col-md-4">
                                    <select class="form-control slect-border" name="userId" [(ngModel)]="Offers.userId" #userId="ngModel" required>
                    <option [ngValue]="null">Please Select</option>
                    <option *ngFor="let user of userData" [ngValue]=user.userId>
                      {{user.userName}}
                  </select>
                                    <div *ngIf="f.submitted && !userId.valid" class="invalid-feedback">User field is required</div>
                                </div>
                            </div>
                            <label>Pinboard</label><br />
                            <ng-multiselect-dropdown [placeholder]="'Select Pinboard'" name='pinboardList' [data]="dropdownList" [(ngModel)]="Offers.pinboardObjList" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                            <div *ngIf="htmlOptions.onPinboardselect" class="invalid-feedback">Pinboard is required</div>

                            <div class="form-group m-t-20">
                                <label class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" maxlength="100" class="form-control form-control-line" placeholder="Enter Email" name="emailId" [(ngModel)]="Offers.emailId" #emailId="ngModel">
                                    <div *ngIf="f.submitted && !emailId.valid && !emailId.errors.pattern" class="invalid-feedback">Email field is required</div>
                                    <div *ngIf="emailId.errors && emailId.errors.pattern" class="invalid-feedback">Please enter a valid Email</div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-12">Contact number</label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" pattern="^[0-9 _]*$" minlength=5 maxlength=20 class="form-control form-control-line" placeholder="Enter Contact number" name="contactNumber" [(ngModel)]="Offers.contactNumber" #contactNumber="ngModel">
                                    <div *ngIf="f.submitted && !contactNumber.valid && !contactNumber.errors.pattern && (!f.controls['contactNumber'].hasError('minlength') || f.controls['contactNumber'].hasError('maxlength'))" class="invalid-feedback">Contact number field is required</div>
                                    <div *ngIf="f.submitted && !contactNumber.valid && f.controls['contactNumber'].hasError('minlength') && !contactNumber.errors.pattern" class="invalid-feedback">
                                        Please Enter a valid Contact number
                                    </div>
                                    <div *ngIf="f.submitted && !contactNumber.valid && f.controls['contactNumber'].hasError('maxlength') && !contactNumber.errors.pattern" class="invalid-feedback">
                                        Please Enter a valid Contact number
                                    </div>
                                    <div *ngIf="contactNumber.errors && contactNumber.errors.pattern" class="invalid-feedback">Please enter a valid Contact number</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-12">Web link</label>
                                <div class="col-md-12">
                                    <input type="text" trim="blur" maxlength="200" class="form-control form-control-line" placeholder="Enter Web link" name="webUrl" [(ngModel)]="Offers.webUrl" #webUrl="ngModel">
                                    <div *ngIf="f.submitted && !webUrl.valid" class="invalid-feedback">Web link field is required</div>
                                    <!-- <div *ngIf="webUrl.errors && webUrl.errors.pattern" class="invalid-feedback">Please enter a valid Web link</div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label> Offer starting from<span class="req">*</span></label><br />
                                    <p-calendar name="startDate" [minDate]="minDate" (onSelect)="setMinTodate()" [readonlyInput]="true" [(ngModel)]="Offers.startDate" #startDate="ngModel" required [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                                    <div *ngIf="f.submitted && !startDate.valid" class="invalid-feedback">Offer starting from field is required</div>
                                </div>
                                <div class="col-md-6">
                                    <label class="marTopDescount">Offer ends<span class="req">*</span></label><br />
                                    <p-calendar name="expiryDate" [minDate]="maxDate" [readonlyInput]="true" [(ngModel)]="Offers.expiryDate" #expiryDate="ngModel" required [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                                    <div *ngIf="f.submitted && !expiryDate.valid" class="invalid-feedback">Offer ends field is required</div>
                                </div>
                            </div>

                            <div class="form-group m-t-20">
                                <div class="col-xs-12">
                                    <div class="btin-right-dvs">
                                        <div class="save-btn-changes">
                                            <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit"><span *ngIf="!this.htmlOptions.button">Save</span><span *ngIf="this.htmlOptions.button">Update</span></button>
                                        </div>
                                        <div class="save-btn-changes">
                                            <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!htmlOptions.editMode">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Offer Name</th>
                                        <th>Title</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr *ngFor="let offers of offerData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                        <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                                        <td class="page-title-break">{{offers.offerName}}</td>
                                        <td class="page-title-break">{{offers.title}}</td>
                                        <td class="page-title-break">{{offers.startDate}}</td>
                                        <td class="page-title-break">{{offers.expiryDate}}</td>
                                        <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="offers.isActive!=1" href="javascript:void(0)" (click)="offerAction(offers.id, 'active')">
                          <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="offers.isActive==1" href="javascript:void(0)" (click)="offerAction(offers.id, 'inactive')">
                          <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <a title="Click here to edit" (click)="editoffer(offers.id)"> <i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i></a>
                        <a title="Click here to delete" href="javascript:void(0)" (click)="offerAction(offers.id, 'delete')"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <!-- <a title="Click here to view content" routerLink="/page-content/{{offers.planId}}"><i class="fa fa-eye" aria-hidden="true"></i></a> -->
                      </span>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!offerData">
                                        <td colspan="4">No records found</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right" *ngIf="offerData">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
        <app-footer></app-footer>
    </div>
    <!-- /#page-wrapper -->
</div>