.colorBtnsOffer label input { position: absolute; opacity: 0; }
.colorBtnsOffer label { margin-right: 5px; }
.colorBtnsOffer label i { opacity: 0; font-size: 16px; }
.colorBtnsOffer label input:checked + i { opacity: 1; }

.multiselect-dropdown .dropdown-btn {

     font-weight: 0 !important;

}


@media (max-width: 990px){
 label.marTopDescount{ margin-top: 25px !important;}
}