<ngx-spinner [bdColor]="spinnerConfig.bdColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type">
  <p style="font-size: 20px; color: white">{{spinnerConfig.loadigText}}</p>
</ngx-spinner>
<div id="wrapper">
  <app-header></app-header>
  <div class="navbar-default sidebar" role="navigation">
    <app-left-sidebar (changeModule) = "changeModule($event)"></app-left-sidebar>
  </div>
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"><span class="page-title-cs">Cms</span> <span class="admin-add-btns">
            <a *ngIf="!htmlOptions.viewMode" href="javascript:void(0)" (click)="addCms()">Add</a>
            <a *ngIf="htmlOptions.viewMode" href="javascript:void(0)" (click)="htmlOptions.viewMode = false">Back</a>
          </span></h4>

        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li class="active">Cms</li>
          </ol>
        </div>
      </div>
      <div class="row" *ngIf="htmlOptions.editMode && !htmlOptions.viewMode">
        <div class="col-md-12 col-xs-12">
          <div class="white-box">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"
              novalidate>

              <div class="form-group">
                <label class="col-md-12">Title<span class="req">*</span></label>
                <div class="col-md-12">
                  <input type="text" trim="blur" maxlength="80" class="form-control form-control-line" placeholder="Enter Title" name="title"
                    [(ngModel)]="Cms.title" #title="ngModel" required>
                  <div *ngIf="f.submitted && !title.valid" class="invalid-feedback">Title field is required</div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-12">Static Page<span class="req">*</span></label>
                <div class="col-md-12">
                <select class="form-control slect-border" name="masterPageId" [(ngModel)]="Cms.masterPageId" #masterPageId="ngModel" (ngModelChange)="getType($event)" required>
                  <!-- <option [ngValue]="0">Please select</option> -->
                  <option [ngValue]="null">Please Select</option>
                  <option *ngFor="let staticPage of staticPageData" [ngValue]=staticPage.masterPageId>
                    {{staticPage.pageName}}
                  </option>
                </select>
                  <div *ngIf="f.submitted && !masterPageId.valid" class="invalid-feedback">Static page field is required</div>
                </div>
              </div>
              <div class="form-group" *ngIf="imageUplaodOption">
                <label class="col-md-12">Image</label>
                <div class="col-md-12">
                  <!-- <input type="file" > -->
                  <input type="file" (change)="fileEvent($event, 'cms')" id="imageUrl" name="imageUrl" #imageUrl="ngModel"
                    [(ngModel)]="Cms.imageUrl" accept="image/*">
                    <div *ngIf="f.submitted && !imageUrl.valid" class="invalid-feedback">Image field is required</div>
                </div>

                <div class="col-md-12" *ngIf="Cms.imageUrl && this.htmlOptions.newupload">
                    <img src="{{Cms.imageUrl}}" class="img-fluid img-border edit-image">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Content<span class="req">*</span></label>
                <div class="col-md-12">
             <!--  <app-ngx-editor [config]="editorConfig" name="content" [(ngModel)]="Cms.content" [placeholder]="'Enter text here...'" [spellcheck]="true"></app-ngx-editor> -->
            <p-editor [(ngModel)]="Cms.content" #content="ngModel" name="content" [style]="{'height':'320px'}" required></p-editor>
                  <div *ngIf="f.submitted && !content.valid" class="invalid-feedback">Content field is required</div>
                </div>
              </div>
              <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <div class="btin-right-dvs">
                      <div class="save-btn-changes">
                      <button class="btn btn-info btn-lg save-btn-div btn-block btn-rounded text-uppercase waves-effect waves-light " type="submit">
                        <span *ngIf="!this.htmlOptions.button">Save</span>
                        <span *ngIf="this.htmlOptions.button">Update</span>
                      </button>
                    </div>
                    <div class="save-btn-changes">
                        <a (click)="htmlOptions.editMode = false" class="btn btn-info  btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Cancel</a>
                      </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!htmlOptions.editMode && !htmlOptions.viewMode">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Page Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                  <!-- <tr *ngFor="let cms of cmsData; let i = index">
                    <td>{{i+1}}</td> -->
                  <tr *ngFor="let cms of cmsData | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                    <td scope="row">{{ (p - 1) * 10 + i + 1 }}</td>
                    <td class="page-title-break">{{cms.title}}</td>
                    <td>{{cms.masterPageName}}</td>
                    <td><span class="actons-box-ad">
                        <a title="Click here to activate" *ngIf="!cms.active" href="javascript:void(0)" (click)="cmsAction(cms.staticPageId, 'active')">
                          <i class="fa fa-ban" aria-hidden="true"></i></a>
                        <a title="Click here to deactivate" *ngIf="cms.active" href="javascript:void(0)" (click)="cmsAction(cms.staticPageId, 'inactive')">
                          <i class="fa fa-check-square" aria-hidden="true"></i></a>
                        <a title="Click here to edit" (click)="editCMS(cms.staticPageId,cms.masterPageId )"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a title="Click here to delete" href="javascript:void(0)" (click)="cmsAction(cms.staticPageId, 'delete')"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        <a title="Click here to view content" (click)="viewCMS(cms.staticPageId)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      </span>
                    </td>
                  </tr>
                  <tr *ngIf="!cmsData">
                    <td colspan="4">No records found</td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right" *ngIf="cmsData">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row white-box" *ngIf="htmlOptions.viewMode && imageUrl && masterPageId!='2'">
        <div class="col-md-6">
          <div *ngFor="let viewCms of cmsViewData; let i = index">
            <img src="{{viewCms.imageUrl}}" class="img-fluid img-border">
          </div>
        </div>
      <div class="col-md-6">
        <div *ngFor="let viewCms of cmsViewData; let i = index">
          <div class="contentImage" [innerHTML]="viewCms.content"></div>
        </div>
      </div>
      </div>
      <div class="row white-box" *ngIf="htmlOptions.viewMode && !imageUrl && masterPageId!='2'">
        <div class="col-md-12">
          <div *ngFor="let viewCms of cmsViewData; let i = index">
            <div class="contentImage" [innerHTML]="viewCms.content"></div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="htmlOptions.viewMode && masterPageId=='2'">
        <div class="col-md-12">
          <div class="white-box" *ngFor="let viewCms of cmsViewData; let i = index">
            <div class="contentImage" [innerHTML]="viewCms.content"></div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2019 &copy; Streetpin </footer>
  </div>
  <!-- /#page-wrapper -->
</div>